<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="eProfessional_N" connectionString="server=192.168.90.22;database=eProfessional_NWI_QA;uid=AdminNWI;pwd=AdminNWI;max pool size=100;min pool size=5"
      providerName="System.Data.SqlClient" />
    <add name="NWILetterReport.Properties.Settings.eProfessional_NWI"
      connectionString="Data Source=192.168.90.22;Initial Catalog=eProfessional_NWI;User ID=AdminNWI"
      providerName="System.Data.SqlClient" />
    <add name="NWILetterReport.Properties.Settings.eProPlusStar"
      connectionString="Data Source=192.168.90.241\MSSQLSrvr;Initial Catalog=eProPlus_Star;User ID=sa;Password=sa@India241"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>