<?xml version="1.0" encoding="utf-8" ?>

<eProStarService>
  <Client Code="Acclaim">
    <add key="ConnectionString" value="server=192.168.90.241\MSSQLSRVR;database=eProPlusStar_Acclaim;uid=sa;pwd=sa@India241;max pool size=100;min pool size=5"/>
    <add key="CheckDBConfig" value="NO"/>
    <add key="Interval" value="1"/>
    <add key="FolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload"/>
    <add key="InitialFolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload\"/>
    <add key="LogFilePath" value="D:\LogFiles_Service\Acclaim"/>
    <add key="CSVSourceFilePath" value="MemberUpload"/>
    <add key="InitialFilePath" value="InitialUpload\Acclaim"/>
    <add key="EnrolledFilePath" value="EnrolledUpload\Acclaim"/>
    <add key="MassAdjustmentFilePath" value="MassAdjustmentUpload\Acclaim"/>
    <add key="ReClaimFolderPath" value="ReClaimFolderPath\Acclaim"/>
    <add key="NonEBClaimFolderPath" value="NonEBClaimFolderPath\Acclaim"/>
    <add key="VesselFolderPath" value="VesselUpload\Acclaim"/>
    <add key="SMTPServer" value="localhost"/>
    <add key="FromEmail" value="etreksupport@etreksolutions.com"/>
    <add key="ToEmail" value="etreksupport@etreksolutions.com"/>
    <add key="LogEnabled" value="True"/>
    <add key="LogErrorEvents" value="True"/>
    <add key="LogWarningEvents" value="True"/>
    <add key="LogInformationEvents" value="True"/>
    <add key="LogAuditSuccessEvents" value="True"/>
    <add key="LogAuditFailureEvents" value="True"/>
    <add key="EventLogName" value="NWIServiceLog"/>
    <add key="EventLogSourceName" value="NWIServiceSource"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ExcelConnXLS" value="Provider=Microsoft.Jet.OLEDB.4.0; Extended Properties='Excel 8.0;HDR=YES;';Data Source="/>
    <add key="ExcelConnXLSX" value="Provider=Microsoft.ACE.OLEDB.12.0; Extended Properties='Excel 12.0 Xml;HDR=YES;';Data Source="/>
  </Client>
  <Client Code="LCH">
    <add key="ConnectionString" value="server=192.168.90.241\MSSQLSRVR;database=eProPlusStar_LCH;uid=sa;pwd=sa@India241;max pool size=100;min pool size=5"/>
    <add key="CheckDBConfig" value="NO"/>
    <add key="Interval" value="1"/>
    <add key="FolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload"/>
    <add key="InitialFolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload\"/>
    <add key="LogFilePath" value="D:\LogFiles_Service\LCH"/>
    <add key="CSVSourceFilePath" value="MemberUpload"/>
    <add key="InitialFilePath" value="InitialUpload\LCH"/>
    <add key="EnrolledFilePath" value="EnrolledUpload\LCH"/>
    <add key="MassAdjustmentFilePath" value="MassAdjustmentUpload\LCH"/>
    <add key="ReClaimFolderPath" value="ReClaimFolderPath\LCH"/>
    <add key="NonEBClaimFolderPath" value="NonEBClaimFolderPath\LCH"/>
    <add key="VesselFolderPath" value="VesselUpload\LCH"/>
    <add key="SMTPServer" value="localhost"/>
    <add key="FromEmail" value="etreksupport@etreksolutions.com"/>
    <add key="ToEmail" value="etreksupport@etreksolutions.com"/>
    <add key="LogEnabled" value="True"/>
    <add key="LogErrorEvents" value="True"/>
    <add key="LogWarningEvents" value="True"/>
    <add key="LogInformationEvents" value="True"/>
    <add key="LogAuditSuccessEvents" value="True"/>
    <add key="LogAuditFailureEvents" value="True"/>
    <add key="EventLogName" value="NWIServiceLog"/>
    <add key="EventLogSourceName" value="NWIServiceSource"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ExcelConnXLS" value="Provider=Microsoft.Jet.OLEDB.4.0; Extended Properties='Excel 8.0;HDR=YES;';Data Source="/>
    <add key="ExcelConnXLSX" value="Provider=Microsoft.ACE.OLEDB.12.0; Extended Properties='Excel 12.0 Xml;HDR=YES;';Data Source="/>
  </Client>
  <Client Code="BIB">
    <add key="ConnectionString" value="server=192.168.91.18;database=eProStarPlusH_Merged;uid=sa;pwd=Ebix@2010;max pool size=100;min pool size=5"/>
    <add key="CheckDBConfig" value="NO"/>
    <add key="Interval" value="1"/>
    <!--<add key="FolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload"/>
    <add key="InitialFolderPath" value="D:\Projects\eProPlusOne\Source_Code\FileUpload\"/>
    <add key="LogFilePath" value="D:\LogFiles_Service\LCH"/>
    <add key="CSVSourceFilePath" value="MemberUpload"/>
    <add key="InitialFilePath" value="InitialUpload\LCH"/>
    <add key="EnrolledFilePath" value="EnrolledUpload\LCH"/>
    <add key="MassAdjustmentFilePath" value="MassAdjustmentUpload\LCH"/>
    <add key="ReClaimFolderPath" value="ReClaimFolderPath\LCH"/>
    <add key="NonEBClaimFolderPath" value="NonEBClaimFolderPath\LCH"/>
    <add key="VesselFolderPath" value="VesselUpload\LCH"/>
    <add key="SMTPServer" value="localhost"/>
    <add key="FromEmail" value="etreksupport@etreksolutions.com"/>
    <add key="ToEmail" value="etreksupport@etreksolutions.com"/>-->
    <add key="LogEnabled" value="True"/>
    <add key="LogErrorEvents" value="True"/>
    <add key="LogWarningEvents" value="True"/>
    <add key="LogInformationEvents" value="True"/>
    <add key="LogAuditSuccessEvents" value="True"/>
    <add key="LogAuditFailureEvents" value="True"/>
    <add key="EventLogName" value="NWIServiceLog"/>
    <add key="EventLogSourceName" value="NWIServiceSource"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ExcelConnXLS" value="Provider=Microsoft.Jet.OLEDB.4.0; Extended Properties='Excel 8.0;HDR=YES;';Data Source="/>
    <add key="ExcelConnXLSX" value="Provider=Microsoft.ACE.OLEDB.12.0; Extended Properties='Excel 12.0 Xml;HDR=YES;';Data Source="/>
  </Client>
  <Client Code="HOWDEN">
    <add key="ConnectionString" value="server=192.168.91.18;database=eProStarH-Howden-SG-Dev;uid=sa;pwd=Ebix@2010;max pool size=100;min pool size=5"/>
    <add key="CheckDBConfig" value="NO"/>
    <add key="Interval" value="1"/>
    <add key="LogEnabled" value="True"/>
    <add key="LogErrorEvents" value="True"/>
    <add key="LogWarningEvents" value="True"/>
    <add key="LogInformationEvents" value="True"/>
    <add key="LogAuditSuccessEvents" value="True"/>
    <add key="LogAuditFailureEvents" value="True"/>
    <add key="EventLogName" value="NWIServiceLog"/>
    <add key="EventLogSourceName" value="NWIServiceSource"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ExcelConnXLS" value="Provider=Microsoft.Jet.OLEDB.4.0; Extended Properties='Excel 8.0;HDR=YES;';Data Source="/>
    <add key="ExcelConnXLSX" value="Provider=Microsoft.ACE.OLEDB.12.0; Extended Properties='Excel 12.0 Xml;HDR=YES;';Data Source="/>
  </Client>
</eProStarService>