<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormsNReports.Properties.Settings.eProfessional_GenericAccounts" connectionString="Data Source=EBXTFS;Initial Catalog=eProfessional_GenericAccounts;User ID=AdminEProf" providerName="System.Data.SqlClient"/>
        <add name="FormsNReports.Properties.Settings.eProfessional_GenericAccounts1" connectionString="Data Source=EBXTFS;Initial Catalog=eProfessional_GenericAccounts;User ID=AdminEProf;Password=AdminEProf" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
